body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  min-height: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
  background-color: rgba($white, 0);
  padding: 10px 0;

  &.active {
    background-color: $white;
    box-shadow: $box-shadow-sm;

    .navbar-inner {
      .navbar-logo {
        color: $primary !important;
      }
      .navbar-menu-outer .navbar-menu .navbar-menu-list a {
        color: $black !important;

        &::before,
        &::after {
          background-color: $primary;
        }
      }

      .navbar-toggle span {
        background-color: $primary;
      }
    }
  }

  .navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-logo {
      font-size: 42px;
      font-weight: bolder;
      line-height: 1;
      color: $primary !important;
      text-decoration: none;
    }

    .navbar-menu-outer {
      display: block;

      .navbar-menu-logo {
        display: none;
      }

      .navbar-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        .navbar-menu-logo {
          display: none;
        }

        .navbar-menu-list {
          display: inline-block;

          a {
            display: block;
            padding: 5px 0px;
            text-decoration: none;
            color: $white !important;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 2px;
              width: 0%;
              background-color: $white;
              transition: 0.3s;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              right: 0;
              height: 2px;
              width: 0%;
              background-color: $white;
              transition: 0.3s;
            }

            &:hover::before,
            &:hover::after,
            &.active::before,
            &.active::after {
              width: 100%;
            }
          }

          &:not(:last-of-type) {
            margin-right: 20px;
          }
        }
      }
    }

    .navbar-close {
      display: none;
    }

    .navbar-toggle {
      height: 24px;
      width: 24px;
      position: relative;
      cursor: pointer;
      display: none;

      span {
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: $white;
        transition: 0.3s;
        left: 0;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: calc(50% - 1px);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg);
            top: calc(50% - 1px);
            width: 100%;
          }

          &:nth-child(2) {
            width: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
            width: 100%;
            bottom: 0;
          }
        }
      }
    }
  }
}

.jumbotron.home-jumbotron {
  height: 100vh;
  padding: 0;
  background-color: $white;
  display: flex;
  position: relative;
  margin: 0;

  .home-jumbotron-caption {
    width: 30%;
    height: 100%;
    background-color: $white;

    .home-jumbotron-caption-inner {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 2.5%;
      transform: translateY(-50%);
      color: $black;

      h1 {
        line-height: 1;
        font-weight: bolder;
        font-size: 92px;
        span {
          display: block;
        }
      }

      h2 {
        letter-spacing: 5px;
      }
    }
  }

  .home-jumbotron-image {
    // background-color: rgba($color: #000000, $alpha: 0.4);
    background-color: $primary;
    width: 70%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .home-jumbotron-image-inner {
      // filter: brightness(0) invert(1);

      .home-jumbotron-img {
        position: absolute;
        bottom: -300px;
        left: 50%;
        height: calc(100% + 300px);
        transform: translateX(-50%);

        img {
          height: 100%;
          // filter: grayscale(100%);
        }
      }
    }
  }
}

.education {
  width: 100%;
  padding: 40px;
}

.education-wrapper {
  margin-left: 10px;
  padding-left: 40px;
  border-left: 3px solid $primary;
  position: relative;
}

.education-card {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  &::after {
    content: "";
    background-color: $white;
    position: absolute;
    left: -51px;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid $primary;
  }
}

.portfolio-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .portfolio-item {
    width: calc((100% / 3) - 20px);
    overflow: hidden;
    margin: 10px;
    position: relative;

    .portfolio-image {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 55.5%;
      overflow: hidden;
      position: relative;

      img {
        display: block;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .portfolio-caption {
      padding: 20px;
      text-align: center;
    }
  }
}

.contact-section {
  background-color: $light;
  background-image: url("../img/map.png");
  background-size: cover;
  background-position: center;
}

.contact-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .contact-item {
    width: calc((100% / 2) - 20px);
    text-align: center;
    padding: 20px;
    background-color: #fff;

    .contact-icon {
      height: 70px;
      svg {
        height: 100%;
        width: auto;
        display: inline-block;
        fill: $primary;
      }
    }
  }
}

.preload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;

  .loader {
    text-align: center;
    display: inline-block;
    vertical-align: top;

    svg {
      height: 50px;
    }
    svg path,
    svg rect {
      fill: $primary;
    }
    p {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: bold;
      color: $primary;
    }
  }
}
